[mysqld]
# MySQL sunucusunun genel ayarları
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/lib/mysql/mysql.sock
datadir = /var/lib/mysql

# Bağlantı adresi, çevre değişkenine dayalı olarak ayarlanacak
bind-address = 0.0.0.0

# Maksimum bağlantı sayısı ve diğer ayarlar
max_connections = 100
default-storage-engine = InnoDB
innodb_buffer_pool_size = 256M
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
